:root {
    --primary: #9896f1;
    --secondary: #d59bf6;
    --dark: #edb1f1;
    --light: #8ef6e4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira sans', sans-serif;
}

body {
    background-image: linear-gradient(to right, blue, purple, violet);
}

.App {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    
}

.calculator  {
    width: 100%;
    max-width: 400px;
    background-color: #9896f1;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0px 2px 64px white;
}

.display {
    padding: 16px;
    text-align: right;
    background-color: var(--dark);
    color: black;
    font-size: 24px;
    font-weight: 300;
}

.display span {
    font-size: 14px;
    color: var(--primary);
}

button {
    appearance: none;
    border: none;
    outline: none;
    color: black;
    font-size: 20px;
    padding: 16px;
    cursor: pointer;
    transition: 0.4s;
}

button:hover {
    opacity: 0.9;
}

.operators {
    display: flex;
}

.operators button {
    flex: 1 1 0%;
    background-color: var(--secondary);
    font-weight: 700;
}

.digits {
    display: flex;
    flex-wrap: wrap;
}

.digits button {
    flex: 1 1 33.333%;
    max-width: 33.333%;
    background-color: var(--light);
}